/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ocal[Cc]ache/
/[Mm]emoryCaptures/
/[Mm]etadata/
/[Oo]bj/
/[Pp]lugins/
/[Ll]ogs/
/[Vv]ersion/
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
